.footer {
  @include root-block-layout;

  flex-direction: column;

  background-color: #f2f2f2;
}

.footer__logo {
  height: 94px;

  text-align: center;

  border-bottom: 1px solid #d9d9d9;
}

.footer__logo svg {
  margin-top: 39px;

  fill: #111111;
}

.footer__logo:hover[href] svg {
  fill: #3e3e3e;
}

.footer__logo:active[href] svg {
  fill: #6b6b6b;
}

.footer__socials {
  @include text-invisible;

  height: 62px;

  border-bottom: 1px solid #d9d9d9;
}

.footer__copyright {
  display: flex;
  align-items: center;
  height: 79px;

  font-size: 16px;
  font-family: "Arial", "Helvetica", sans-serif;
  text-decoration: none;
  color: #444444;
}

.footer__copyright svg {
  margin-left: auto;

  fill: #666666;
}

.footer__copyright:hover svg {
  fill: $colorGreen;
}

.footer__copyright:active svg {
  fill: $colorLightGreen;
}

.footer__copyright:hover {
  color: #3e3e3e;
}

.footer__copyright:active {
  color: #6b6b6b;
}


@media ($tablet) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    height: 150px;
  }

  .footer__logo {
    width: 155px;
    margin-top: 26px;

    text-align: left;

    border-bottom: none;
  }

  .footer__socials {
    height: auto;
    margin-top: 45px;

    border-bottom: none;
  }

  .footer__copyright {
    width: 163px;
    margin-top: 47px;
  }
}


@media ($desktop) {
  .footer__copyright {
    margin-top: 39px;
  }
}
