.footer {
  @include root-block-layout;

  flex-direction: column;

  background-color: #f2f2f2;
}

.footer__logo {
  min-height: 94px;

  border-bottom: 1px solid #d9d9d9;
}

.footer__socials {
  @include text-invisible;

  border-bottom: 1px solid #d9d9d9;
}

.footer__copyright {
  position: relative;

  display: block;
  height: 79px;

  font-size: 16px;
  line-height: 79px;
  font-family: "Arial", sans-serif;
  text-decoration: none;
  color: #444444;
}

.footer__copyright::after {
  position: absolute;
  top: 0;
  right: 0;

  display: block;
  width: 27px;
  height: 79px;

  background-image: url("../img/logo-htmlacademy.svg");
  background-repeat: no-repeat;
  background-position: 50%;

  content: "";
}

@media ($tablet) {
  $offset: 160px;

  .footer {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }

  .footer__logo {
    min-width: $offset;
    height: 150px;

    border-bottom: none;
  }

  .footer__socials {
    border-bottom: none;
  }

  .footer__copyright {
    min-width: $offset;
    margin-top: 20px;
  }
}
