.form__item {
  @include root-block-layout;
  flex-direction: column;
  margin-top: 25px;
}

.form__legend {
  box-sizing: border-box;
  font-size: 14px;
  flex-basis: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  line-height: 1.3;
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;
  margin-top: 7px;
  padding-right: 20px;
}

.form__details {
  flex-grow: 0;
  flex-shrink: 0;
  margin-top: 39px;
}

.form__aim {
  flex-grow: 0;
  flex-shrink: 0;
  margin-top: 23px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: -20px;
  margin-right: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
  width: 100%;
}

.form__input-wraper {
  margin-bottom: 14px;
  display: flex;
  align-items: center;

  font-size: 16px;
  line-height: 1.3;
  font-weight: 400;
  color: #222222;
  text-transform: uppercase;
  position: relative;
}

.form__input-wraper:last-child:not(:first-child) {
  margin-bottom: 0;
}

.form__input-wraper--radio,
.form__input-wraper--checkbox {
  margin-bottom: 13px;
}

.form__input {
  @include normalize-input;
  text-transform: uppercase;
}

.form__label--text {
  padding-right: 15px;
}

.form__input--text {
  box-sizing: border-box;
  border: 1px solid #e6e6e6;
  color: #444444;
  padding-left: 15px;
  padding-right: 15px;
  flex-grow: 1;
  flex-shrink: 0;
  min-height: 45px;
}

.form__input--text:hover,
.form__textarea:hover {
  border-color: #cdcdcd;
}

.form__input--text:invalid {
  border-color: #ff747b;
  outline: 1px solid #ff747b;
}

.form__input--text:invalid + .form__icon {
  fill: #ff747b;
}

.form__input--text:focus,
.form__textarea:focus {
  border-color: #444444;
  outline: 1px solid #444444;
}

.form__input--text:focus + .form__icon {
  fill: $colorGreen;
}

.form__input--radio,
.form__input--checkbox {
  width: 30px;
  height: 30px;
  opacity: 0;
  margin-right: 16px;
}

.form__label--radio::before,
.form__label--checkbox::before,
.form__label--checkbox::after {
  content: "";
  width: 28px;
  height: 28px;
  border: 1px solid #cccccc;
  left: 0;
  top: 0;
  position: absolute;
}

.form__label--checkbox::after {
  background-color: #ffffff;
  opacity: 0;
}

.form__input--radio:hover + .form__label--radio::before,
.form__input--checkbox:hover + .form__label--checkbox::before,
.form__input--radio:focus + .form__label--radio::before,
.form__input--checkbox:focus + .form__label--checkbox::before {
  border-color: #a9a9a9;
}

.form__input--radio:active + .form__label--radio::before,
.form__input--checkbox:active + .form__label--checkbox::before {
  border-color: #f8f8f8;
}

.form__label--radio::before {
  border-radius: 50%;
}

.form__input--checkbox:checked + .form__label--checkbox::before {
  background-image: url("../img/icon-tick.svg");
  background-size: 21px 16px;
  background-position: 50%;
  background-repeat: no-repeat;
}

.form__label--radio::after {
  content: "";
  width: 10px;
  height: 10px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  left: 9px;
  top: 9px;
  position: absolute;
}

.form__input--radio:checked + .form__label--radio::after {
  border-color: $colorGreen;
  background-color: $colorGreen;
}

.form__input--radio:active + .form__label--radio::after {
  border-color: #ccedc3;
  background-color: #ccedc3;
}

.form__input--checkbox:active + .form__label--checkbox::after {
  opacity: 0.5;
}

.form__textarea {
  box-sizing: border-box;
  width: 100%;
  height: 150px;
  border: 1px solid #e6e6e6;
  padding: 12px 10px 12px 14px;
  resize: none;
  font-size: 16px;
  line-height: 1.3;
  font-weight: 400;
  color: #222222;
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
}

.form__title {
  box-sizing: border-box;
  font-size: 24px;
  line-height: 1;
  font-weight: 400;
  color: #111111;
  flex-basis: 100%;
  margin-top: 3px;
  background-color: #ffffff;
  align-self: flex-start;
  flex-shrink: 1;
  margin-bottom: 34px;
  margin-right: 75px;
  padding-right: 15px;
}

.form__title::before {
  width: calc(100% - 20px);
  position: absolute;
  margin-top: 14px;
  height: 3px;
  background-color: $colorGreen;
  z-index: -1;

  content: "";
}

.form__submit {
  margin-top: 10px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  border: none;
  padding: 0;
}

.form__disclamer {
  align-self: center;
  margin-top: 19px;
  margin-bottom: 32px;
  font-size: 14px;
  font-family: "Arial", sans-serif;
  line-height: 1.3;
  font-weight: 400;
  color: #444444;
}

.form__icon {
  position: absolute;
  right: 14px;
  fill: #444444;
}


@media ($tablet) {
  .form__legend {
    font-size: 20px;
    margin-left: 40px;
    margin-top: 23px;
    line-height: 1.45;
    padding-right: 45%;
  }

  .form__details {
    margin-top: 66px;
    margin-left: 40px;
    margin-right: 37px;
  }

  .form__aim {
    box-sizing: border-box;
    margin-top: 74px;
    margin-left: 40px;
    margin-right: 0;
    padding-left: 28px;
    padding-right: 0;
    border-left: 1px solid #ededed;
    width: calc(100% - 10px);
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .form__item--extra {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .form__item--submittion {
    flex-direction: row;
  }

  .form__input-wraper {
    margin-bottom: 22px;
    font-size: 20px;
  }

  .form__input-wraper--radio,
  .form__input-wraper--checkbox {
    margin-bottom: 13px;
  }

  .form__input-wraper--two-in-row {
    margin-left: 40px;
    margin-right: 35px;
  }

  .form__input-wraper--four-in-row,
  .form__input-wraper--four-in-row:last-child:not(:first-child) {
    flex-basis: calc(50% - 50px);
    margin-left: 40px;
    margin-bottom: 32px;
  }

  .form__input--text {
    min-height: 50px;
  }

  .form__label--text {
    padding-right: 20px;
  }

  .form__input--radio,
  .form__input--checkbox {
    width: 40px;
    height: 40px;
  }

  .form__label--radio::before,
  .form__label--checkbox::before,
  .form__label--checkbox::after {
    width: 38px;
    height: 38px;
  }

  .form__label--radio::after {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    left: 11px;
    top: 11px;
    position: absolute;
  }

  .form__textarea {
    height: 173px;
    width: calc(100% - 78px);
    font-size: 20px;
    margin-left: 40px;
    padding: 10px 18px;
  }

  .form__title {
    align-self: initial;
    flex-shrink: 0;
    margin-top: 41px;
    font-size: 36px;
    background-color: transparent;
    margin-bottom: 77px;
  }

  .form__title--owner {
    margin-top: 50px;
  }

  .form__title--extra {
    margin-bottom: 56px;
  }

  .form__title span {
    padding-right: 42px;
    padding-left: 39px;
    background-color: #ffffff;
  }

  .form__title::before {
    width: 100%;
    left: 0;
    margin-top: 22px;
  }

  .form__submit {
    margin-top: 0;
    flex-basis: calc(50% - 70px);
    margin-left: 40px;
    margin-bottom: 75px;
    height: 48px;
    font-size: 20px;
  }

  .form__disclamer {
    align-self: flex-start;
    flex-basis: calc(50% - 70px);
    margin-left: 60px;
    font-size: 16px;
    margin-top: 10px;
  }

  .form__icon {
    right: 20px;
  }
}


@media ($desktop) {
  .form__item {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .form__item--extra {
    justify-content: space-between;
  }

  .form__legend {
    padding-right: 70%;
    margin-left: 0;
  }

  .form__details {
    flex-basis: calc(50% - 40px);
    margin-left: 0;
    margin-right: 0;
  }

  .form__aim {
    margin-top: 66px;
    flex-basis: calc(50% - 40px);
    border-right: 1px solid #ededed;
  }

  .form__input-wraper--two-in-row {
    width: calc(50% - 40px);
    margin-left: 0;
    margin-right: 0;
  }

  .form__input-wraper--two-in-row,
  .form__input-wraper.form__input-wraper--two-in-row {
    // Да, это война за специфичность, детка
    margin-bottom: 0;
  }

  .form__input-wraper--four-in-row,
  .form__input-wraper--four-in-row:last-child:not(:first-child) {
    flex-basis: calc(25% - 6 * 40px / 4);
    margin-left: 0;
    margin-bottom: 32px;
  }

  .form__textarea {
    height: 171px;
    width: 100%;
    margin-left: 0;
  }

  .form__title {
    margin-top: 44px;
    margin-left: -40px;
  }

  .form__submit {
    flex-basis: calc(50% - 40px);
    margin-left: 0;
    margin-top: 4px;
    margin-bottom: 80px;
    height: 52px;
  }

  .form__disclamer {
    flex-basis: calc(50% - 40px);
    margin-left: 0;
    margin-top: 18px;
  }
}
