.invitation {
  @include root-block-layout;

  flex-wrap: wrap;
  justify-content: space-between;

  background-color: #ffffff;
  background-image: url("../img/bg-map-mobile@1x.png"), linear-gradient(#ffffff 0, #fef7f1 0);
  background-repeat: no-repeat, repeat-x;
  background-position: left 50% bottom 0;
  background-size: auto 362px;

  @media ($retina) {
    background-image: url("../img/bg-map-mobile@2x.png");
  }
}

.invitation--internal,
.invitation--internal .invitation__title,
.invitation--internal .invitation__address {
  background-color: #f2f2f2;

  @media ($desktop) {
    background-color: #ffffff;
  }
}

.invitation__title {
  @include normalize-h;

  box-sizing: border-box;
  margin-top: 27px;
  margin-bottom: 27px;

  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #111111;

  background-color: #ffffff;
}

.invitation__address {
  align-self: center;
  flex-basis: 50%;
  box-sizing: border-box;
  margin-top: 27px;
  margin-bottom: 27px;

  text-align: left;

  background: #ffffff;
}

.invitation__address p {
  color: #444444;

  font-size: 14px;
  line-height: 18px;
  font-family: "Arial", "Helvetica", sans-serif;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0;

  line-height: 20px;
}

.invitation__pin {
  @include text-invisible;

  flex-basis: 100%;
  box-sizing: border-box;
  min-height: 362px;

  background-image: url("../img/map-pin.png");
  // TODO: Нарисовать пин на CSS

  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 62px 53px;
}


@media ($tablet) {
  .invitation {
    background-image: url("../img/bg-map-tablet@1x.png"), linear-gradient(#ffffff 0, #fef7f1 0);
    background-size: auto 396px;

    @media ($retina) {
      background-image: url("../img/bg-map-tablet@2x.png");
    }
  }

  .invitation__title {
    margin-top: 65px;
    margin-bottom: 60px;
    padding-left: 40px;

    font-size: 20px;
    line-height: 25px;
  }

  .invitation__address {
    margin-top: 60px;
    margin-bottom: 60px;
    padding-right: 40px;

    text-align: right;
  }

  .invitation__address p {
    line-height: 20px;
    font-size: 16px;
  }

  .invitation__address p:first-child {
    margin-bottom: 20px;
  }

  .invitation__pin {
    min-height: 396px;
    background-size: 124px 106px;
  }
}

@media ($desktop) {
  .invitation {
    min-height: 396px;
    background-image: url("../img/bg-map-desktop@1x.png"), linear-gradient(#ffffff 0, #fef7f1 0);

    @media ($retina) {
      background-image: url("../img/bg-map-desktop@2x.png");
    }
  }

  .invitation__title {
    flex-basis: 25%;
    height: 200px;
    padding-top: 63px;
    padding-bottom: 0;
    padding-left: 75px;
    margin-top: 100px;
    margin-bottom: auto;
  }

  .invitation__address {
    flex-basis: 22%;
    height: 200px;
    padding-top: 63px;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 20px;

    text-align: left;
    margin-top: 100px;
    margin-bottom: auto;
  }

  .invitation__pin {
    flex-basis: 53%;
    min-height: auto;
    background-position: 60% 51%;
  }
}
