$address_height: 114px;
$map_height: 362px;

.invitation {
  @include root-block-layout;

  position: relative;

  flex-direction: column;
  border: none;
}

.invitation--internal,
.invitation--internal .invitation__address-wrapper {
  background-color: #f2f2f2;

  @media ($desktop) {
    background-color: #ffffff;
  }
}

.invitation__address-wrapper {
  z-index: 1;

  display: flex;
  justify-content: space-between;
  min-height: $address_height;

  background-color: #ffffff;
}

.invitation__address-slogan {
  @include normalize-h;

  box-sizing: border-box;
  width: 160px;
  margin-top: 27px;

  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #111111;
}

.invitation__address p {
  @include normalize-h;

  width: 137px;

  font-size: 14px;
  line-height: 18px;
  font-family: "Arial", "Helvetica", sans-serif;
  font-weight: 400;
}

.invitation__address p:first-child {
  margin-top: 31px;
}

.invitation__map {
  width: calc(100% + 40px);
  min-height: $map_height;
  margin-right: -20px;
  margin-left: -20px;

  background-color: #fef7ef;
}


@media ($tablet) {
  $address_height: 201px;
  $map_height: 396px;

  .invitation__address-wrapper {
    min-height: $address_height;
  }

  .invitation__address-slogan {
    margin-top: 65px;
    margin-left: 41px;

    font-size: 20px;
    line-height: 25px;
  }

  .invitation__address p {
    width: 170px;
    margin-top: 20px;
    margin-right: 42px;

    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }

  .invitation__address p:first-child {
    margin-top: 64px;
  }


  .invitation__map {
    width: calc(100% + 60px);
    min-height: $map_height;
    margin-right: -30px;
    margin-left: -30px;
  }
}


@media ($desktop) {
  $map_height: 400px;

  .invitation {
    background-color: #fef7ef;
  }

  .invitation__address-wrapper {
    order: 2;
    box-sizing: border-box;
    width: 569px;
    min-height: calc(400px - 94px - 104px);
    margin-top: 94px;
    margin-bottom: 104px;
    padding-top: 66px;
    padding-left: 66px;
    padding-right: 66px;
    padding-bottom: 56px;
  }

  .invitation__address-slogan {
    margin-top: 0;
    margin-left: 10px;
  }

  .invitation__address p {
    width: 170px;
    margin-top: 20px;
    margin-right: 7px;

    text-align: left;
  }

  .invitation__address p:first-child {
    margin-top: 0;
  }

  .invitation__map {
    position: absolute;
    left: 0;

    order: 1;
    width: 100%;
    min-height: $map_height;
    margin-right: 0;
    margin-left: 0;
  }
}
