.jumbotron {
  @include root-block-layout;

  flex-direction: column;

  background-image: url("../img/index-can-mobile@1x.png"), url("../img/index-background-mobile@1x.jpg"), linear-gradient(#63a73a 305px, #ffffff 305px);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: 50% 167px, 0 0, 0 0;
  background-size: auto 271px, 320px 305px, 100% 100%;
  /* TODO: Заменить линейный градиент идеально соответствующим рисунку с котом */

  @media ($retina) {
    background-image: url("../img/index-can-mobile@2x.png"), url("../img/index-background-mobile@2x.jpg"), linear-gradient(#63a73a 305px, #ffffff 305px);
  }
}

.jumbotron__title {
  @include normalize-h;

  margin-top: 32px;
  margin-bottom: 20px;

  font-size: 36px;
  line-height: 1;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
}

.jumbotron__slogan {
  @include normalize-h;

  margin-bottom: 302px;

  font-size: 14px;
  line-height: 1;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.jumbotron__button {
  margin-bottom: 22px;

  line-height: 40px;
}


@media ($tablet) {
  .jumbotron {
    background-image: url("../img/index-can-tablet@1x.jpg");
    background-position: 50% 235px;
    background-size: 709px 609px;

    @media ($retina) {
      background-image: url("../img/index-can-tablet@2x.jpg");
    }
  }

  .jumbotron__title {
    margin-top: 34px;
    margin-bottom: 41px;
    margin-left: 87px;

    font-size: 60px;
    text-align: left;
    color: #111111;
  }

  .jumbotron__slogan {
    margin-bottom: 44px;
    margin-left: 87px;

    font-size: 20px;
    text-align: left;
    color: #111111;
  }

  .jumbotron__button {
    align-self: flex-start;
    margin-bottom: 533px;
    margin-left: 87px;
    padding-right: 27px;
    padding-left: 27px;

    line-height: 52px;
  }
}


@media ($desktop) {
  .jumbotron {
    margin-top: -30px;
    padding-top: 30px;

    background-image: url("../img/index-can-desktop@1x.png");
    background-position: 63% 4px;
    background-size: auto 499px;

    @media ($retina) {
      background-image: url("../img/index-can-desktop@2x.png");
    }
  }

  .jumbotron::before {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    // TODO: Спозиционировать относительно шапки, а не body

    width: calc(50% - 40px);
    height: 696px;

    background-color: #63a73a;
    background-image: url("../img/index-background-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-size: auto 100%;

    content: "";

    @media ($retina) {
      background-image: url("../img/index-background-desktop@2x.jpg");
    }
  }

  .jumbotron__button {
    margin-bottom: 268px;
    margin-left: 80px;
  }

  .jumbotron__title {
    margin-top: 54px;
    margin-left: 80px;
  }

  .jumbotron__slogan {
    margin-bottom: 53px;
    margin-left: 80px;
  }
}
