.logo {
  @include text-invisible;
}

.logo--header {
  background-image: url("../img/logo-mobile-header.svg"), url("../img/icon-logo-mobile.svg");
  background-repeat: no-repeat, no-repeat;
  background-size: 101px 18px, 33px 38px;
  background-position: 50% 50%, 0 50%;
}

.logo--footer .logo__icon {
  fill: #111111;
  margin: auto auto;
}

.logo--footer:hover .logo__icon {
  fill: #3e3e3e;
}

.logo--footer:active .logo__icon {
  fill: #6b6b6b;
}


@media ($tablet) {
  .logo--header {
    background-image: url("../img/logo-tablet.svg");
    background-position: 0 50%;
    background-size: 172px 58px;
  }

  .logo--footer {
    background-position: 0 50%;
  }
}


@media ($desktop) {
  .logo--header {
    background-image: url("../img/logo-desktop.svg");
    background-size: 202px 60px;
  }
}
