.logo {
  @include text-invisible;
}

.logo--header {
  background-image: url("../img/logo-mobile-header.svg"), url("../img/icon-logo-mobile.svg");
  background-repeat: no-repeat, no-repeat;
  background-size: 101px 18px, 33px 38px;
  background-position: 50% 50%, 0 50%;
}

.logo--header:hover {
  opacity: 0.8;
}

.logo--header:active {
  opacity: 0.6;
}

@media ($tablet) {
  .logo--header {
    background-image: url("../img/logo-tablet.svg");
    background-position: 0 50%;
    background-size: 172px 58px;
  }
}


@media ($desktop) {
  .logo--header {
    background-image: url("../img/logo-desktop.svg");
    background-size: 202px 60px;
  }
}
