.main-catalog {
  @include root-block-layout;

  flex-direction: column;
  border-bottom: 1px solid #ededed;
}

.main-catalog__item {
  display: flex;
  flex-direction: column;
  margin-right: -20px;
  margin-bottom: 24px;
  margin-left: -20px;
  padding-right: 20px;
  padding-left: 20px;
  background-repeat: no-repeat;
  border-top: 1px solid #ededed;
}

.main-catalog__item-picture {
  width: 140px;
  height: 144px;
}

.main-catalog__item-name {
  @include normalize-h;

  width: 100px;
  margin-top: calc(21px - 144px);
  margin-bottom: 14px;
  margin-left: 50%;

  font-size: 16px;
  line-height: 1.3;
  font-weight: 400;
  text-transform: uppercase;
  color: #111111;
}

.main-catalog__item-description {
  @include normalize-h;

  display: flex;
  flex-wrap: wrap;
  width: 50%;
  max-width: 200px;
  margin-bottom: 21px;
  margin-left: 50%;

  font-size: 12px;
  line-height: 1.4;
  font-family: "Arial", "Helvetica", sans-serif;
  font-weight: 400;
  color: #444444;
}

.main-catalog__item-description dt,
.main-catalog__item-description dd {
  flex-basis: 50%;
}

.main-catalog__item-description dd {
  margin-left: 0;

  text-align: right;
}

.main-catalog__order {
  width: 100%;
  margin-top: auto;

  font-size: 16px;
}

.main-catalog__item:last-child {
  position: relative;
  text-decoration: none;
  color: #111111;
  background-image: url("../img/icon-plus-mobile.svg");
  background-position: 50% 26px;
  background-size: 30px;
}

.main-catalog__item--more .main-catalog__item-name {
  margin-left: 0;
  width: 100%;
  text-align: center;
  margin-top: 79px;
  margin-bottom: 9px;
}

.main-catalog__item--more p {
  margin-top: 0;
  margin-bottom: 21px;
  font-size: 12px;
  line-height: 1.3;
  font-family: "Arial", "Helvetica", sans-serif;
  font-weight: 400;
  text-align: center;
  color: #444444;
}


@media ($tablet) {
  .main-catalog {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: none;
  }

  .main-catalog__item {
    flex-basis: calc(50% - 30px);
    box-sizing: border-box;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-right: 37px;
    padding-left: 37px;

    border-top: none;
    align-items: stretch;

    background-image: linear-gradient(#ffffff 140px, #f2f2f2 140px);
    background-position: 0;
    background-size: 100%;
  }

  .main-catalog__item:nth-child(2n - 1) .main-catalog__item-picture {
    margin-top: 58px;
    margin-left: -37px;
    margin-right: -37px;
    align-self: center;
    width: 324px;
    height: 208px;
  }

  .main-catalog__item:nth-child(2n) .main-catalog__item-picture {
    margin-top: 94px;
    align-self: center;
    margin-left: -37px;
    margin-right: -37px;
    width: 324px;
    height: 172px;
  }

  .main-catalog__item-name {
    width: 150px;
    margin-top: 34px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;

    font-size: 20px;
    text-align: center;
    line-height: 1.2;
  }

  .main-catalog__item-description {
    width: 100%;
    max-width: initial;
    margin-bottom: 33px;
    margin-left: 0;

    font-size: 16px;
  }

  .main-catalog__item-description dt,
  .main-catalog__item-description dd {
    padding-top: 6px;
    padding-bottom: 5px;
    border-bottom: 1px solid #cdcdcd;
  }

  .main-catalog__order {
    margin-bottom: 38px;
    line-height: 40px;
  }

  .main-catalog__item:last-child {
    border: 1px solid #e6e6e6;
    background-image: url("../img/icon-plus.svg");
    background-position: 50% 55px;
    background-size: 60px 60px;
    margin-top: 140px;
  }

  .main-catalog__item--more .main-catalog__item-name {
    width: 150px;
    margin-top: 160px;
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .main-catalog__item--more p {
    margin-top: 0;
    margin-bottom: 0;
    width: 200px;
    font-size: 16px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .main-catalog__item--more .button {
    margin-top: auto;
    margin-bottom: 40px;
    line-height: 40px;
  }
}


@media ($desktop) {
  .main-catalog__item {
    flex-basis: calc(25% - 40px * 6 / 4);
    background-image: linear-gradient(#ffffff 142px, #f2f2f2 142px);
  }

  .main-catalog__item:nth-child(2n - 1) .main-catalog__item-picture {
    margin-top: 58px;
    margin-left: -37px;
    margin-right: -37px;
    align-self: center;
    width: 245px;
    height: 208px;
  }

  .main-catalog__item:nth-child(2n) .main-catalog__item-picture {
    margin-top: 94px;
    align-self: center;
    margin-left: -37px;
    margin-right: -37px;
    width: 245px;
    height: 174px;
  }

  .main-catalog__item-name {
    margin-top: 34px;
    line-height: 1.2;
  }

  .main-catalog__item:last-child {
    background-image: url("../img/icon-plus.svg");
    background-position: 50% 55px;
    background-size: 60px 60px;
    margin-top: 142px;
  }

  .main-catalog__item--more .button {
    font-size: 16px;
  }

  .main-catalog__item--more p {
    width: auto;
  }

  .main-catalog__item-description {
    margin-bottom: 31px;
  }
}
