.navigation__list {
  @include normalize-ul;

  display: flex;
  flex-direction: column;
  margin-right: -$mobile-offset;
  margin-left: -$mobile-offset;
}

.navigation__item {
  text-align: center;
  border-top: 1px solid #e6e6e6;
}

.navigation__item a {
  display: block;
  font-size: 20px;
  line-height: 42px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #111111;
}

@media ($tablet) {
  .navigation__list {
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 0;
    margin-left: 0;
    justify-content: flex-end;
  }

  .navigation__item {
    border-top: none;
  }

  .navigation__item a {
    font-weight: 400;
    font-size: 18px;
  }

  .navigation__item:not(:first-child) a {
    margin-left: 36px;
  }

  .navigation__item a:not([href]) {
    border-bottom: 3px solid $colorGreen;
  }
}


@media ($desktop) {
  .navigation__list a {
    color: #ffffff;
  }

  .navigation__list--internal a {
    color: #111111;
  }

  .navigation__list {
    max-width: 530px;
  }

  .navigation__item a {
    font-size: 20px;
  }

  .navigation__item:not(:first-child) a {
    margin-left: 35px;
  }

  .navigation__list a:not([href]) {
    border-bottom: 3px solid #ffffff;
  }

  .navigation__list--internal a:not([href]) {
    border-bottom: 3px solid $colorGreen;
  }
}
