.social {
  display: flex;
  justify-content: center;
}

.social__link {
  display: flex;
  width: 30px;
  height: 30px;
  padding: 15px 12px;
}

.social__link svg {
  margin: auto auto;

  fill: #666666;
}

.social__link:hover svg {
  fill: $colorGreen;
}

.social__link:active svg {
  fill: $colorLightGreen;
}
