@mixin text-invisible {
  font-size: 0;
}

@mixin normalize-ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

@mixin normalize-h {
  margin-top: 0;
  margin-bottom: 0;
}

@mixin normalize-input {
  overflow: visible;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

@mixin root-block-layout {
  display: flex;
  margin-left: auto;
  margin-right: auto;

  width: calc(100% - 20px * 2);
  min-width: calc(320px - 20px * 2);
  max-width: calc(1300px - 40px * 2);
  padding-right: 20px;
  padding-left: 20px;

  @media ($tablet) {
    padding-right: 30px;
    padding-left: 30px;
    width: calc(100% - 30px * 2);
  }

  @media ($desktop) {
    padding-right: calc((100% - (1300px - 40px * 2)) / 2);
    padding-left: calc((100% - (1300px - 40px * 2)) / 2);
    width: calc(100% - 40px * 2);
  }
}
