@mixin outline {
  outline: 1px dotted #ff00ff;
}

@mixin text-invisible {
  font-size: 0;
}

@mixin text-type-one {
  font-size: 16px;
  line-height: 25px;
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

@mixin text-type-two {
  font-size: 14px;
  line-height: 20px;
  font-family: "Arial", sans-serif;
  font-weight: 400;
}

@mixin text-type-three {
  font-size: 36px;
  line-height: 60px;
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

@mixin text-type-four {
  color: #444444;

  font-size: 14px;
  line-height: 18px;
  font-family: "Arial", sans-serif;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}

@mixin text-type-five {
  font-size: 24px;
  line-height: 37px;
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-weight: 400;
  color: #111111;
}

@mixin normalize-ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

@mixin normalize-h {
  margin-top: 0;
  margin-bottom: 0;
}

@mixin normalize-dl {
  margin-top: 0;
  margin-bottom: 0;
}

@mixin root-block-layout {
  display: flex;
  margin: 0 auto;

  width: calc(100% - 20px * 2);
  min-width: calc(320px - 20px * 2);
  max-width: calc(1300px - 40px * 2);
  padding-right: 20px;
  padding-left: 20px;

  @media (min-width: $tablet-width) {
    padding-right: 30px;
    padding-left: 30px;
    width: calc(100% - 30px * 2);
  }

  @media (min-width: $desktop-width) {
    padding-right: calc((100% - (1300px - 40px * 2)) / 2);
    padding-left: calc((100% - (1300px - 40px * 2)) / 2);
    width: calc(100% - 40px * 2);
  }
}

@mixin font-h2($color) {
  color: $color;

  font-size: 36px;
  line-height: 1;
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    font-size: 60px;
  }
}

@mixin font-basic {
  color: #444444;

  font-size: 14px;
  line-height: 18px;
  font-family: "Arial", sans-serif;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}
