@mixin outline {
  outline: 1px dotted #ff00ff;
}

@mixin text-invisible {
  font-size: 0;
}

@mixin text-type-one {
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-size: 16px;
  line-height: 25px;
  text-transform: uppercase;
  font-weight: 400;
}

@mixin text-type-two {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

@mixin text-type-three {
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-size: 36px;
  line-height: 60px;
  text-transform: uppercase;
  font-weight: 400;
}

@mixin text-type-four {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #444444;
}

@mixin text-type-five {
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  color: #111111;
}

@mixin normalize-ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
