.button {
  font-size: 14px;
  line-height: 40px;
  text-transform: uppercase;
  font-weight: 400;
  background-color: $colorGreen;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  display: block;
  box-sizing: border-box;

  @media ($tablet) {
    font-size: 20px;
  }
}

.button--light {
  background-color: #f2f2f2;
  color: #222222;
}
