.button {
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 400;
  background: #68b738;
  color: #ffffff;
  text-align: center;
  padding: 11px 0;
  text-decoration: none;
}
