

.cat-form__details {
  flex-grow: 0;
  flex-shrink: 0;
  margin-top: 39px;
}

.cat-form__aim {
  flex-grow: 0;
  flex-shrink: 0;
  margin-top: 23px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: -20px;
  margin-right: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
  width: 100%;
}

@media ($tablet) {


  .cat-form__details {
    margin-top: 66px;
    margin-left: 40px;
    margin-right: 37px;
  }

  .cat-form__aim {
    box-sizing: border-box;
    margin-top: 74px;
    margin-left: 40px;
    margin-right: 0;
    padding-left: 28px;
    padding-right: 0;
    border-left: 1px solid #ededed;
    width: calc(100% - 10px);
    padding-top: 24px;
    padding-bottom: 24px;
  }
}


@media ($desktop) {


  .cat-form__details {
    flex-basis: calc(50% - 40px);
    margin-left: 0;
    margin-right: 0;
  }

  .cat-form__aim {
    margin-top: 66px;
    flex-basis: calc(50% - 40px);
    border-right: 1px solid #ededed;
  }
}
