.example {
  @include root-block-layout;

  flex-direction: column;
  background-color: #f2f2f2;
}


.example__title {
  @include normalize-h;

  color: #111111;
  font-size: 36px;
  line-height: 1.3;
  font-weight: 400;

  margin-top: 25px;
  margin-bottom: 34px;
}

.example__description {
  color: #444444;

  font-size: 14px;
  line-height: 1.2;
  font-family: "Arial", sans-serif;
  font-weight: 400;

  margin-top: 0;
  margin-bottom: 25px;
}

.example__results {
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  flex-wrap: wrap;
}

.example__results-key {
  width: calc(50% - 17px - 18px * 2);
  align-self: flex-end;
  margin-bottom: -16px;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 15px;
  color: #444444;
  background: #f2f2f2;
  z-index: 1;
}

.example__results-key:nth-of-type(1) {
  margin-left: 18px;
  margin-right: calc(17px + 18px);
}

.example__results-key:nth-of-type(2) {
  margin-right: 18px;
  margin-left: calc(2 * 17px + 18px);
}

.example__results-key:nth-of-type(3) {
  width: auto;
  align-self: auto;
  margin-bottom: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  text-align: auto;
  box-sizing: border-box;
  padding-left: 0;
  padding-right: 0;
  color: #111111;
  margin-left: auto;
  text-transform: uppercase;
  margin-top: 45px;
}

.example__results-value {
  width: calc(50% - 17px - 1px * 2);
  height: 55px;
  text-align: center;
  border: 1px solid #cccccc;
  border-radius: 3px;
  font-size: 24px;
  line-height: 55px;
  text-transform: uppercase;
}

.example__results-value:nth-of-type(1) {
  margin-left: -50%;
}

.example__results-value:nth-of-type(2) {
  margin-left: calc(-50% + 17px);
}

.example__results-value:nth-of-type(3) {
  width: auto;
  height: auto;
  text-align: auto;
  border: none;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  margin-left: 0;
  margin-right: auto;
  margin-top: 45px;
}

.example__slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 29px;
}

.example__real-toggle {
  display: none;
}

.example__real-toggle:checked ~ .example__cat--fat {
  @include hide;
}

.example__real-toggle:not(:checked) ~ .example__cat--slim {
  @include hide;
}

.example__toggle {
  @include text-invisible;
  position: relative;
  margin-top: 34px;
  margin-bottom: 42px;
  order: 1;
  width: 84px;
  height: 16px;
  cursor: pointer;
  background-color: chartreuse;
}

.example__real-toggle:checked ~ .example__toggle {
  background-color: red;
}

.example__toggle::before,
.example__toggle::after {
  box-sizing: border-box;
  position: absolute;
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
  width: 50px;
}

.example__toggle::before {
  content: "Было";
  left: -70px;
  text-align: right;
}

.example__toggle::after {
  content: "Стало";
  right: -70px;
}

@media ($tablet) {
  .example {
    background-image: linear-gradient(#ffffff 620px, #f2f2f2 620px);
    border-top: 1px solid #e5e5e5;
  }

  .example__title {
    font-size: 60px;
    margin-top: 34px;
    margin-bottom: 55px;
  }

  .example__description {
    margin-bottom: 51px;
    font-size: 16px;
    line-height: 1.5;
  }

  .example__results {
    border-bottom: 4px;
  }

  .example__results-key {
    width: calc(26% - 17px - 18px * 2);
    padding-left: 0;
    padding-right: 0;
    margin-bottom: -4px;
    font-size: 14px;
    background-color: #ffffff;
  }

  .example__results-key br {
    display: none;
  }

  .example__results-key:nth-of-type(3) {
    width: 200px;
    margin-left: auto;
    align-self: flex-start;
    text-align: right;
    font-size: 20px;
    margin-top: 15px;
  }

  .example__results-value {
    width: calc(26% - 17px - 1px * 2);
    height: 72px;
    font-size: 30px;
    line-height: 72px;
  }

  .example__results-value:nth-of-type(1) {
    margin-left: -26%;
  }

  .example__results-value:nth-of-type(2) {
    margin-left: calc(-26% + 17px);
  }

  .example__results-value:nth-of-type(3) {
    margin-left: -200px;
    width: 200px;
    margin-right: 0;
    align-self: flex-end;
    text-align: right;
    font-size: 20px;
    margin-bottom: 15px;
  }

  .example__slider {
    margin-top: 86px;
  }

  .example__toggle {
    margin-top: 11px;
    margin-bottom: 67px;
    width: 428px;
    height: 34px;
  }

  .example__toggle::before,
  .example__toggle::after {
    font-size: 20px;
    line-height: 34px;
    border-bottom: 1px dotted #888888;
  }

  .example__toggle::before {
    left: -75px;
  }
}


@media ($desktop) {
  .example {
    flex-wrap: wrap;
    max-height: 700px;
    border-top: 0;
    background-image: linear-gradient(#ffffff 190px, #f2f2f2 190px);
    align-content: space-between;
  }

  .example__title {
    margin-top: 47px;
    margin-bottom: 137px;
    width: calc(1300px / 2 - 2 * 40px);
  }

  .example__description {
    box-sizing: border-box;
    width: calc(1300px / 2 - 2 * 40px);
    margin-bottom: 68px;
    padding-right: 140px;
  }

  .example__results {
    border-bottom: 0;
    width: calc(1300px / 2 - 2 * 40px);
  }

  .example__results-key {
    width: calc(32% - 17px - 18px * 2);
    margin-bottom: -4px;
    background-color: #f2f2f2;
  }

  .example__results-key:nth-of-type(3) {
    text-align: left;
    margin-top: 63px;
    width: 40%;
    margin-left: 0;
  }

  .example__results-value {
    width: calc(32% - 17px - 1px * 2);
  }

  .example__results-value:nth-of-type(1) {
    margin-left: -32%;
  }

  .example__results-value:nth-of-type(2) {
    margin-left: calc(-32% + 17px);
  }

  .example__results-value:nth-of-type(3) {
    margin-left: 0;
    text-align: left;
    margin-top: 63px;
    width: 40%;
  }

  .example__slider {
    width: calc(1300px / 2 - 2 * 40px);
    margin-top: 0;
  }

  .example__cat {
    margin-left: -30px;
  }

  .example__toggle {
    margin-top: 31px;
    margin-bottom: 67px;
  }
}
