.example {
  @include root-block-layout;

  flex-direction: column;
  padding-bottom: 40px;

  background-color: #f2f2f2;

  @media ($tablet) {
    background-image: linear-gradient(#ffffff 620px, #f2f2f2 620px);
    border-top: 1px solid #e5e5e5;
    padding-bottom: 67px;
  }

  @media ($desktop) {
    flex-wrap: wrap;
    max-height: 700px;
    border-top: 0;
    background-image: linear-gradient(#ffffff 190px, #f2f2f2 190px);
    align-content: space-between;
  }
}

.example__title {
  @include font-h2(#111111);
  @include normalize-h;

  margin-top: 31px;
  margin-bottom: 38px;

  @media ($tablet) {
    margin-top: 46px;
    margin-bottom: 71px;
  }

  @media ($desktop) {
    margin-top: 73px;
    margin-bottom: 72px;
    width: calc(1300px / 2 - 2 * 40px);
  }
}


.example__description {
  @include font-basic;

  margin-top: 0;
  margin-bottom: 25px;

  @media ($tablet) {
    margin-bottom: 55px;
  }

  @media ($desktop) {
    width: calc(1300px / 2 - 2 * 40px);
    margin-bottom: 70px;
  }
}


.example__results {
  @include outline;
  @include normalize-dl;

  @media ($desktop) {
    height: 227px;
    width: calc(1300px / 2 - 2 * 40px);
  }
}


.example__slider {
  @include outline;

  @media ($desktop) {
    width: calc(1300px / 2 - 2 * 40px);
  }
}
