.header {
  position: relative;

  height: 570px;
  width: 320px;
  margin: 0 auto;

  background-color: #ffffff;
}

.header__logo {
  display: block;
  height: 65px;

  border-bottom: 1px solid #e6e6e6;
}
