.header {
  @include root-block-layout;
  flex-direction: column;
  position: relative;
  z-index: 0;

  min-width: 320px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}

.header__logo {
  @include outline;
  display: block;
  height: 65px;
  width: 100%;

  border-bottom: 1px solid #e6e6e6;
  margin-right: auto;

  @media (min-width: $tablet-width) {
    @include outline;
    width: 173px;
    height: 82px;
    border-bottom: 0;
  }
}
