.how-it-works {
  @include root-block-layout;

  flex-direction: column;

  background-color: #ffffff;
}


.how-it-works__title {
  @include font-h2(#111111);
  @include normalize-h;

  margin-top: 31px;
  margin-bottom: 38px;

  @media (min-width: $tablet-width) {
    margin-top: 46px;
    margin-bottom: 71px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 73px;
    margin-bottom: 72px;
  }
}


.how-it-works__list {
  @include normalize-ul;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-bottom: 22px;

  @media (min-width: $tablet-width) {
    align-content: space-between;
    flex-direction: row;
    height: 603px;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;
    height: auto;
  }
}


.how-it-works__item {
  @include font-basic;

  position: relative;
  z-index: 0;

  box-sizing: border-box;
  min-height: 60px;
  margin-bottom: 20px;
  padding-left: 80px;

  counter-increment: item-number;

  @media (min-width: $tablet-width) {
    flex-basis: calc(50% - 30px);
    flex-grow: 1;
    min-height: 286px;
    margin-bottom: 0;
    padding-top: 115px;
    padding-right: 80px;
    padding-left: 0;
  }

  @media (min-width: $desktop-width) {
    flex-basis: 245px;
    flex-grow: 0;
    min-height: 255px;
    padding-right: 0;
  }
}

.how-it-works__item:nth-child(2n-1) {
  @media (min-width: $tablet-width) {
    margin-right: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 0;
  }
}

.how-it-works__item:nth-child(2n) {
  @media (min-width: $tablet-width) {
    margin-left: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
  }
}

.how-it-works__item::before {
  position: absolute;
  top: 0;
  left: 0;

  width: 60px;
  height: 60px;

  background-color: $colorGreen;
  background-repeat: no-repeat;
  background-position: 50%;

  content: "";

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 80px;
  }
}

.how-it-works__item--salubrious::before {
  background-image: url("/img/advantage-leaf@1x.png");
}

.how-it-works__item--flour::before {
  background-image: url("/img/advantage-powder@1x.png");
}

.how-it-works__item--swap::before {
  background-image: url("/img/advantage-dining@1x.png");
}

.how-it-works__item--result::before {
  background-image: url("/img/advantage-clock@1x.png");
}

.how-it-works__item::after {
  @media (min-width: $tablet-width) {
    position: absolute;
    top: 0;
    right: 15%;
    z-index: -1;

    font-size: 281px;
    line-height: 203px;
    font-family: "Oswald Regular", "Arial", sans-serif;
    font-weight: 400;
    vertical-align: text-bottom;
    color: #f2f2f2;

    content: counter(item-number);
  }

  @media (min-width: $desktop-width) {
    right: 0;
  }
}
