.how-it-works {
  @include root-block-layout;

  flex-direction: column;
}

.how-it-works__title {
  @include normalize-h;

  margin-top: 25px;
  margin-bottom: 34px;

  font-size: 36px;
  line-height: 1.3;
  font-weight: 400;
  color: #111111;
}

.how-it-works__list {
  @include normalize-ul;

  display: flex;
  flex-direction: column;
  margin-bottom: 22px;
}

.how-it-works__item {
  position: relative;

  min-height: 60px;
  margin-bottom: 20px;
  padding-left: 80px;

  font-size: 14px;
  line-height: 1.3;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  color: #444444;

  counter-increment: item-number;
}

.how-it-works__item::before {
  position: absolute;
  top: 0;
  left: 0;

  width: 60px;
  height: 60px;

  background-color: $colorGreen;
  background-repeat: no-repeat;
  background-position: 50%;

  content: "";
}

.how-it-works__item--salubrious::before {
  background-image: url("../img/advantage-leaf@1x.png");

  @media ($retina) {
    background-image: url("../img/advantage-leaf@2x.png");
  }
}

.how-it-works__item--flour::before {
  background-image: url("../img/advantage-powder@1x.png");

  @media ($retina) {
    background-image: url("../img/advantage-powder@2x.png");
  }
}

.how-it-works__item--swap::before {
  background-image: url("../img/advantage-dining@1x.png");

  @media ($retina) {
    background-image: url("../img/advantage-dining@2x.png");
  }
}

.how-it-works__item--result::before {
  background-image: url("../img/advantage-clock@1x.png");

  @media ($retina) {
    background-image: url("../img/advantage-clock@2x.png");
  }
}


@media ($tablet) {
  .how-it-works__title {
    margin-top: 36px;
    margin-bottom: 63px;

    font-size: 60px;
  }

  .how-it-works__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: -31px;
  }

  .how-it-works__item {
    flex-basis: calc(50% - 30px);
    box-sizing: border-box;
    min-height: 286px;
    margin-bottom: 31px;
    padding-top: 112px;
    padding-right: 80px;
    padding-left: 0;

    font-size: 16px;
    line-height: 1.5;
  }

  .how-it-works__item::before {
    width: 80px;
    height: 80px;
  }

  .how-it-works__item::after {
    position: absolute;
    top: 0;
    left: 37%;
    z-index: -1;

    font-size: 281px;
    line-height: 205px;
    font-family: "Oswald", "Arial", sans-serif;
    color: #f2f2f2;

    content: counter(item-number);
  }
}


@media ($desktop) {
  .how-it-works__title {
    margin-top: 73px;
    margin-bottom: 72px;
  }

  .how-it-works__list {
    justify-content: space-between;
    height: auto;
  }

  .how-it-works__item {
    flex-basis: 245px;
    flex-grow: 0;
    min-height: 255px;
    padding-right: 0;
  }
}

.how-it-works__item::after {
  @media ($desktop) {
    right: 0;
  }
}
