.invatation {
  background-color: #ffffff;
  display: flex;
  margin: 0 20px;
  height: 114px;
  align-items: center;
}

.invatation__title {
  @include text-type-one;
  flex-basis: 50%;
}

.invatation__address {
  @include text-type-two;
  flex-basis: 50%;
}
