.logo {
  @include text-invisible;
  background-image: url("../img/logo-mobile-header.svg"), url("../img/icon-logo-mobile.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: 50% 50%, 0 50%;
}

.logo--header {
  background-size: 101px 18px, 33px 38px;
}


@media ($tablet) {
  .logo--header {
    background-position: 90px 50%, 0 50%;
    background-size: 85px 18px, 70px 58px;
  }
}


@media ($desktop) {
  .logo--header {
    background-position: 85px 50%, 0 50%;
    background-size: 120px 23px, 70px 58px;
  }
}


// -
.logo--footer {
  background-image: url("../img/logo-mobile-header.svg");
  background-size: 128px 24px;

  @media ($tablet) {
    background-position: 0 50%;
  }
}
