.logo {
  background-image: url("/img/logo-mobile-header.svg");
  background-repeat: no-repeat;
  background-position: 50%;
}

.logo--footer {
  background-size: 128px 24px;
}

.logo--header {
  background-size: 101px 18px;
}

// .logo::before {
//   background-color: #ffffff;
//   background-image: url("/img/icon-logo-mobile.svg");
// }
