.navigation__toggle {
  @include text-invisible;

  position: absolute;
  top: 0;
  right: 0;

  width: 65px;
  height: 65px;

  background-color: #ffffff;
  background-image: url("../img/icon-mobile-menu.svg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 24px 18px;

  cursor: pointer;
}

.navigation__real-toggle {
  display: none;
}

.navigation__real-toggle:checked ~ .navigation__list {
  @include hide;
}

.navigation__list {
  @include normalize-ul;

  display: flex;
  flex-direction: column;
  margin-right: -$mobile-offset;
  margin-left: -$mobile-offset;
}

.navigation__item {
  text-align: center;
  border-top: 1px solid #e6e6e6;
}

.navigation__item a {
  display: block;
  font-size: 20px;
  line-height: 42px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #111111;
}

@media ($tablet) {
  .navigation__toggle {
    display: none;
  }

  .navigation__real-toggle:checked ~ .navigation__list {
    @include unhide;
  }

  .navigation__list {
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 0;
    margin-left: 0;
    justify-content: flex-end;
  }

  .navigation__item {
    border-top: none;
  }

  .navigation__item a {
    font-weight: 400;
    font-size: 18px;
  }

  .navigation__item:not(:first-child) a {
    margin-left: 36px;
  }

  .navigation__item a:not([href]) {
    border-bottom: 3px solid $colorGreen;
  }
}


@media ($desktop) {
  .navigation__list a {
    color: #ffffff;
  }

  .navigation__list--internal a {
    color: #111111;
  }

  .navigation__list {
    max-width: 530px;
  }
}
